apiVersion: v1
kind: Pod
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  hostAliases:
    - ip: "10.1.0.28"
      hostnames:
        - "todo-api"
    - ip: "10.1.0.27"
      hostnames:
        - "todo-progress-api"
  containers:
    - name: frontend
      image: todo-frontend:latest
      imagePullPolicy: Never
      ports:
        - containerPort: 80
      readinessProbe:
        httpGet:
          path: /health
          port: 80
        initialDelaySeconds: 5
        periodSeconds: 10
      livenessProbe:
        httpGet:
          path: /health
          port: 80
        initialDelaySeconds: 10
        periodSeconds: 30
