apiVersion: v1
kind: Pod
metadata:
  name: todo-api
  labels:
    app: todo-api
spec:
  containers:
    - name: todo-api
      image: todo-api:latest
      imagePullPolicy: Never
      command: [".venv/bin/uvicorn", "todo_api.main:app", "--host", "0.0.0.0", "--port", "8000", "--workers", "1"]
      ports:
        - containerPort: 8000
      env:
        - name: PROGRESS_API_URL
          value: "http://10.1.0.27:8001"
      readinessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 5
        periodSeconds: 10
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 10
        periodSeconds: 30
